#signup {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 1px #ccc;
    background-color: rgb(148, 241, 241);
    
}
#fName {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}
.btn {
    align-items: center;
    color: blueviolet;
}
.links {
    text-align: center;
}